style.css
* {
    margin: 0px;/*设置四周边距都为0*/
    box-sizing: border-box;/*宽高的设置值包括border等*/
    
}

body {
    background: url("1.jpg");/*设置背景图片*/
    background-repeat: no-repeat;
    background-attachment: fixed;/*设置背景图不随网页滑动而改变*/
    background-size: cover;
}
.content {
    perspective: 400px;
    width: 100%;
    height: 620px;
    position: relative;
}
/* 顶部导航条 */
ul,
li {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 14px 16px;
}

ul {
  position: relative;
  display: flex;
}

ul li {
  /* 如果设置为inline-block，会有空隙 */
  /* https://stackoverflow.com/questions/19038799/why-is-there-an-unexplainable-gap-between-these-inline-block-div-elements */
  list-style: none;
  width: 300px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
}

ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.slider {
  width: 280px;
  height: 50px;
  background-color: #FFB6C1;
  border-radius: 8px;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: -1;
  transition: all ease 0.4s;
  animation: 2s ease-in-out waves infinite;
}

li:nth-child(1):hover ~ .slider {
  left: 10px;
}

li:nth-child(2):hover ~ .slider {
  left: 308px;
}

li:nth-child(3):hover ~ .slider {
  left: 248px;
}

li:nth-child(4):hover ~ .slider {
  left: 368px;
}

li:nth-child(5):hover ~ .slider {
  left: 488px;
}

@keyframes waves {
  from {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 4%,
      6% 9%,
      13% 13%,
      23% 15%,
      31% 16%,
      42% 15%,
      49% 13%,
      61% 10%,
      71% 5%,
      81% 3%,
      90% 2%,
      100% 5%,
      100% 100%,
      0% 100%
    );
  }
  to {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
}


/*正中间的字*/
.avr{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 300px;
    margin: auto;
    bottom: 0;
    color: #FFB6C1;
    font-size: 60px;
    font-family: 'Times New Roman' ;
    font-weight: 500;
}

audio {
    position: fixed;
    bottom: 50px;
    right: 0;
}
/* 创建三列 本来是想做三列的，后来没做也懒得改了 */
/* center column */
.leftcolumn {
    float: left;
    width: 10%;
}

.centercolumn {
    margin: auto;
    width: 80%;
    height:1000px;
    padding: 10px;
    
}
.rightcolumn {
    float: left;
    width: 10%;
}

/* 文章卡片 */
.card {
    background-color:rgba(255,255,255,0.5);
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    
}
#biaoti {
    text-align: center;
}
#qita {
    text-align: right;
}
/* 正文 */
#word {
       text-indent:2em;
        font-size: 20px;
        color: black;
        font-family: '宋体'
}
/* 小标题 */
#tit{
        text-align: center;
         font-size: 25px;
        color: black;
        font-family: '宋体'
}
/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*旋转的音符效果*/
.music {
    position: fixed;
    bottom: 120px;
    right: 55px;
    width: 80px;
    height: 80px;
    border-radius: 325px;
    animation: muscis 5s linear infinite;
}
@keyframes muscis {
    from {
        transform: rotate (0deg);
        opacity: .6;
    }

    to {
        transform: rotate(360deg);
        opacity: .8;
    }
}

.yinyue {
    display: flex;
    justify-content: space-between;
    padding: 0 400px;
    box-sizing: border-box;
    overflow: hidden;
}



/* 底部 */

.footer {
    padding: 5px;
    height: 70px;
    margin-top: -70px;
    width: 100%;
    position:absolute;
    bottom:0px;
    left:0px;
    text-align: center;
    
    background: rgba(250,237,229,0.7);
   
    border-radius: 25px;
}
#words {
      
  
        color: white;
        font-family: '楷体';
        font-size: 30px;'
}
                        

                       

/*中间的字效果*/
.btn {
    width: 30%;
    height: 70px;
    position: absolute;
    top: 65%;
    left: 35%;
    background-image: linear-gradient(#F3F5D0,#F9957E);
    border-radius: 40px;
    border-color: dodgerblue;
    color: white;
    text-align: center;
}

.btn p{
        
        font-size: 25px;
        font-family:'Franklin Gothin';
        color: white;
        text-align: center;
        font-weight: bold;
    }
.bt {
    cursor: pointer; /*使鼠标放上边显示手指形状*/
    width: 25%; /*设置宽*/
    height: 50px; /*设置高*/
    display: block; /*行内元素设置宽高不生效，使用display:block;可以将行内元素设置为块集元素 */
    text-align: center; /*文字在容器中横向居中*/
    line-height: 40px; /*当数值与height一样的时候文字垂直居中*/
    text-decoration: none; /*将文字下划线去除*/
    background-image: linear-gradient(rgba(211, 104, 29, 0.95),rgba(5,72,99,0.95)); /*设置元素背景颜色：渐变*/
    color: rgba(0, 0, 0, 0.60); /*设置文字颜色*/
    border: none;  /*去除边框*/
    margin-bottom: 10px; /*下部外边框距离10像素*/
    margin: auto;  /*使按钮居中*/
    font-size: 20px; /*设置字体大小*/
}

